<section class="about-me-section">
  <div class="about-me-container">
    <h2 class="about-me-title">About me</h2>
    <p class="about-me-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum.
    </p>
  </div>
  <aside class="extra-contents-aside">
    <div class="tools-container">
      <h3 class="tools-title">Tools</h3>
      <mat-grid-list cols="5" rowHeight="3:2" class="tool-list">
        <mat-grid-tile class="tool-item"
          ><img
            class="tool-img"
            src="../../../assets/images/icons/angular.svg"
            alt="Angular Logo"
        /></mat-grid-tile>
        <mat-grid-tile class="tool-item"
          ><img
            class="tool-img"
            src="../../../assets/images/icons/reactjs_logo_icon_168875.svg"
            alt="React Logo"
        /></mat-grid-tile>
        <mat-grid-tile class="tool-item"
          ><img
            class="tool-img"
            src="../../../assets/images/icons/javascript_icon_130900.svg"
            alt="Javascript Logo"
        /></mat-grid-tile>
        <mat-grid-tile class="tool-item"
          ><img
            class="tool-img"
            src="../../../assets/images/icons/file_type_typescript_official_icon_130107.svg"
            alt="Typescript Logo"
        /></mat-grid-tile>
        <mat-grid-tile class="tool-item"
          ><img
            class="tool-img"
            src="../../../assets/images/icons/file_type_git_icon_130581.svg"
            alt="Git Logo"
        /></mat-grid-tile>
        <mat-grid-tile class="tool-item"
          ><img
            class="tool-img"
            src="../../../assets/images/icons/material.svg"
            alt="Material Logo"
        /></mat-grid-tile>
        <mat-grid-tile class="tool-item"
          ><img
            class="tool-img"
            src="../../../assets/images/icons/file_type_node_icon_130301.svg"
            alt="NodeJs Logo"
        /></mat-grid-tile>
        <mat-grid-tile class="tool-item"
          ><img
            class="tool-img"
            src="../../../assets/images/icons/sass_original_logo_icon_146350.svg"
            alt="Sass Logo"
        /></mat-grid-tile>
        <mat-grid-tile class="tool-item"
          ><img
            class="tool-img"
            src="../../../assets/images/icons/211904_social_github_icon.svg"
            alt="Github Logo"
        /></mat-grid-tile>
        <mat-grid-tile class="tool-item"
          ><img
            class="tool-img"
            src="../../../assets/images/icons/c-sharp-c-icon-456x512-9sej0lrz.png"
            alt="CSharp Logo"
        /></mat-grid-tile>
      </mat-grid-list>
    </div>

    <div class="achievements-container">
      <h3 class="achievements-title">Achievements</h3>

      <docs-carousel class="carousel"></docs-carousel>
    </div>
  </aside>
</section>
