$background-color: #1E1E1E
$card-background-color: #2A2A2A
$font-color: #FFFFFF
$secondary-font-color: #4C4C4C
$highlight-color: #3A9FBF
$alert-color: #FF5E5E
$contrast-color: #E5E5E5

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap')

.about-me-section
  display: flex
  width: 75rem
  align-items: center
  justify-content: space-between

.about-me-container
  width: 23rem

.about-me-title
  color: $secondary-font-color
  font-size: 3rem
  font-family: 'Montserrat', sans-serif

.about-me-text
  color: $font-color
  font-size: 1.5rem
  font-family: 'Roboto', sans-serif

.extra-contents-aside
  width: 30rem

.tools-container, .achievements-container
  border: 2px solid $secondary-font-color
  border-radius: .5rem

.tools-title, .achievements-title
  position: relative
  top: -2rem
  left: 1rem
  color: $secondary-font-color
  background-color: $background-color
  width: 3.2rem
  font-family: 'Montserrat', sans-serif

.tool-list
  display: flex
  flex-direction: row
  top: -1.5rem

.tool-img
  width: 3rem

.achievements-container
  display: flex
  flex-direction: column
  margin-top: 5rem
  height: 9rem

.achievements-title
  width: 8rem
  height: 1rem
  margin-bottom: 0
  font-family: 'Montserrat', sans-serif

.carousel
  margin-left: 1rem
  font-family: 'Roboto', sans-serif

@media (max-width: 1600px)
  .about-me-section
    width: 70rem

  .about-me-container
    width: 25rem

  .extra-contents-aside
    width: 26.25rem

@media (max-width: 1300px)
  .about-me-section
    width: 60rem

  .about-me-container
    width: 20rem

@media (max-width: 1100px)
  .about-me-section
    width: 50rem

@media (max-width: 860px)
  .about-me-section
    flex-direction: column

  .about-me-container
    width: 31.25rem

  .about-me-title
    margin-bottom: 0

  .about-me-text
    text-align: justify
    width: 31.25rem
    margin-bottom: 3rem

  .extra-contents-aside
    width: 31.25rem

  .achievements-container
    margin-top: 2.5rem

@media (max-width: 600px)
  .about-me-container
    width: 25rem

  .about-me-title
    font-size: 2rem

  .about-me-text
    font-size: 1rem
    width: 25rem
    margin-bottom: 2rem

  .extra-contents-aside
    width: 25rem

@media (max-width: 450px)
  .about-me-container
    width: 20rem

  .about-me-text
    width: 20rem

  .extra-contents-aside
    width: 20rem
