<section class="footer-container">
  <div class="footer-content">
    <div class="made-with">
      <div class="made-with-container">
        <h3 class="made-with-title">Made with</h3>
        <mat-grid-list cols="3" rowHeight="2:2" class="made-with-list">
          <mat-grid-tile class="made-with-item"
            ><img
              class="made-with-img"
              src="../../../assets/images/icons/angular.svg"
              alt="Angular Logo"
          /></mat-grid-tile>
          <mat-grid-tile class="made-with-item"
            ><img
              class="made-with-img"
              src="../../../assets/images/icons/file_type_typescript_official_icon_130107.svg"
              alt="Typescript Logo"
          /></mat-grid-tile>
          <mat-grid-tile class="made-with-item"
            ><img
              class="made-with-img"
              src="../../../assets/images/icons/file_type_git_icon_130581.svg"
              alt="Git Logo"
          /></mat-grid-tile>
          <mat-grid-tile class="made-with-item"
            ><img
              class="made-with-img"
              src="../../../assets/images/icons/material.svg"
              alt="Material Logo"
          /></mat-grid-tile>
          <mat-grid-tile class="made-with-item"
            ><img
              class="made-with-img"
              src="../../../assets/images/icons/sass_original_logo_icon_146350.svg"
              alt="Sass Logo"
          /></mat-grid-tile>
          <mat-grid-tile class="made-with-item"
            ><img
              class="made-with-img"
              src="../../../assets/images/icons/211904_social_github_icon.svg"
              alt="Github Logo"
          /></mat-grid-tile>
          <mat-grid-tile class="made-with-item"
            ><img
              class="made-with-img"
              src="../../../assets/images/icons/coreui.png"
              alt="CoreUI Logo"
          /></mat-grid-tile>
        </mat-grid-list>
      </div>
    </div>
    <div class="copyright">
      <small>© Copyright 2023. Made by Mauro Delmondes</small>
    </div>
    <div class="social">
      <div class="social-container">
        <h3 class="social-title">Socials</h3>
        <mat-grid-list cols="2" rowHeight="1:2" class="social-list">
          <mat-grid-tile class="social-item">
            <a href="#">
              <img
                class="social-img"
                src="../../../assets/images/icons/4102586_applications_linkedin_social_social media_icon.svg"
                alt="Linkedin Logo"
              /> </a
          ></mat-grid-tile>
          <mat-grid-tile class="social-item"
            ><a href="#"
              ><img
                class="social-img"
                src="../../../assets/images/icons/211904_social_github_icon.svg"
                alt="GitHub Logo"
              />
            </a>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </div>
  </div>
</section>
