<nav class="header-nav">
  <ul>
    <li>
      <a href="#landing-page" id="logo" class="nav-link">Mauro Delmondes</a>
    </li>

    <li class="burger" (click)="toggleMenu()">
      <i class="material-icons">{{ isMenuOpen ? "close" : "menu" }}</i>
    </li>

    <li class="menu" [class.is-open]="isMenuOpen" (click)="toggleMenu()">
      <a href="#about-me" class="nav-link">About me</a>
      <a href="#experience" class="nav-link">Experience</a>
      <a href="#works" class="nav-link">Works</a>
      <a href="#contact" class="nav-link">Contact</a>
      <a href="#" class="nav-link">Resume</a>
    </li>
  </ul>
</nav>
