<mat-accordion class="example-headers-align">
  <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title class="panel-title">
        Full Stack Developer
      </mat-panel-title>
      <mat-panel-description> Derevo </mat-panel-description>
    </mat-expansion-panel-header>

    <p class="date-location">May - July 2022 | Cuiabá, Mato Grosso, Brasil</p>

    <p class="content-description">
      I worked in an ERP web project aimed at supermarket administration and
      management.
    </p>

    <ul>
      <li>
        Development tools: HTML5, CSS3, Javascript(ES6), JQuery, Vue.js,
        Bootstrap and C#.
      </li>
      <li>Versioning tools: Git and GitHub.</li>
      <li>
        Others: Agile development methodology, Domain-driven design and
        Model–view–controller.
      </li>
    </ul>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title class="panel-title"
        >Full Stack Developer</mat-panel-title
      >
      <mat-panel-description
        >Mato Grosso Information Technology Company - MTI</mat-panel-description
      >
    </mat-expansion-panel-header>

    <p>November 2021 - April 2022 | Cuiabá, Mato Grosso, Brasil</p>

    <p>
      I worked migrating legacy technologies to current technologies of the
      government websites in the state of Mato Grosso.
    </p>
    <ul>
      <li>
        Development tools: HTML5, CSS3, Javascript(ES6), Liferay, Java, Apache
        FreeMarker and Apache Velocity.
      </li>
      <li>Versioning tools: Git.</li>
    </ul>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title class="panel-title">Front-end Developer</mat-panel-title>
      <mat-panel-description
        >Liberali - SAP Gold Partner
      </mat-panel-description>
    </mat-expansion-panel-header>

    <p>June 2021 - October 2021 | Cuiabá, Mato Grosso, Brasil</p>

    <p>
      I worked at the development of an ERP web for the administration and
      management of agribusiness.
    </p>
    <ul>
      <li>
        Development tools: HTML5, CSS3, Javascript(ES6), React.js and Bootstrap.
      </li>
      <li>Versioning tools: Git and GitLab.</li>
    </ul>
  </mat-expansion-panel>
</mat-accordion>
