$background-color: #1E1E1E
$card-background-color: #2A2A2A
$font-color: #FFFFFF
$secondary-font-color: #4C4C4C
$highlight-color: #3A9FBF
$alert-color: #FF5E5E
$contrast-color: #E5E5E5

h1
  font-size: 6.25rem
  color: $secondary-font-color
  margin: 0

p
  font-size: 2rem
  color: $font-color
  margin: 0

.btn-container
  display: flex
  width: 35.5rem
  justify-content: space-between
  margin-top: 4rem

.btn
  color: $contrast-color !important
  border-color: $contrast-color !important
  font-size: 2rem
  padding: 2.5rem 4rem !important
  transition: 0.3s
  transition-timing-function: ease-in-out

.btn:hover
  background-color: rgba(229,229,229, 0.2)
