$background-color: #1E1E1E
$card-background-color: #2A2A2A
$font-color: #FFFFFF
$secondary-font-color: #4C4C4C
$highlight-color: #3A9FBF
$alert-color: #FF5E5E
$contrast-color: #E5E5E5

body
  overflow-x: hidden

app-header
  position: fixed
  width: 100vw
  z-index: 10

.landing-page, .about-me, .experience, .works, .contact
  background-color: $background-color
  width: 100vw
  height: 100vh
  display: flex
  align-items: center
  justify-content: space-around
