<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <app-header></app-header>
    <section class="landing-page">
      <app-landing-page></app-landing-page>
    </section>
    <section class="about-me">
      <app-about-me></app-about-me>
    </section>
    <section class="experience">
      <app-experience></app-experience>
    </section>
    <section class="works">
      <app-works></app-works>
    </section>
    <section class="contact">
      <app-contact></app-contact>
    </section>
    <app-footer></app-footer>
  </body>
</html>
