<section class="card-container">
  <div class="card-content">
    <img
      class="card-img"
      src="../../../assets/images/スクリーンショット 2023-04-20 130445.png"
      alt="card-img"
    />
    <div class="right-side">
      <h4 class="card-title">League of Legends Login Screen</h4>
      <p class="card-description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.
      </p>

      <div class="card-techs">
        <ul>
          <li>HTML5</li>
          <li>CSS3</li>
          <li>Javascript</li>
          <li>Git</li>
        </ul>
      </div>

      <div class="card-buttons">
        <a href="#">
          <img
            class="github-icon"
            src="../../../assets/images/icons/211904_social_github_icon.svg"
            alt="GitHub Icon"
          />
        </a>

        <button mat-stroked-button extended class="btn">Visit</button>
      </div>
    </div>
  </div>
</section>
