<section class="card-container">
  <div class="card">
    <img
      class="background-img"
      src="../../../assets/images/スクリーンショット 2023-04-20 130445.png"
      alt=""
    />
    <div class="description-banner"></div>
    <div class="github-logo">
      <a href="#"
        ><img
          src="../../../assets/images/icons/211904_social_github_icon.svg"
          alt=""
      /></a>
    </div>
    <div class="description-title">
      <p>League of Legends Login Screen</p>
    </div>
    <div class="description-text">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.
      </p>
    </div>
    <div class="description-btn">
      <a href="#">Learn More</a>
    </div>
  </div>
</section>
