$background-color: #1E1E1E
$card-background-color: #2A2A2A
$font-color: #FFFFFF
$secondary-font-color: #4C4C4C
$tertiary-font-color: #C0C0C0
$highlight-color: #3A9FBF
$alert-color: #FF5E5E
$contrast-color: #E5E5E5

.card-container
  width: 60vw
  //border: 1px solid #ffffff
  background-color: #2A2A2A
  border-radius: 5px
  margin-bottom: 2rem

.card-content
  display: flex

.card-img
  border-radius: 5px 0 0 5px
  width: 25vw

.right-side
  margin-left: 2rem

.card-title
  font-size: 1.5rem
  color: $secondary-font-color

.card-description
  color: $tertiary-font-color
  width: 30vw

.card-techs
  border-top: 1px solid #fff
  color: $tertiary-font-color

.card-techs ul
  display: flex
  justify-content: flex-end
  margin: 0 !important
  padding: 1rem

.card-techs ul li
  list-style-type: none
  margin-left: 2rem

.card-buttons
  display: flex
  //align-items: center
  padding: 1rem
  justify-content: flex-end
  border-top: 1px solid #fff

.github-icon
  width: 2rem
  cursor: pointer

.card-buttons button
  border-color: $tertiary-font-color
  color: $tertiary-font-color
  margin-left: 2rem
